{% set title = 'Site template' %}
{% set description = 'Site template' %}
{% set keywords = 'Site template' %}
{% set activePage = '/' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <h1>It works =)</h1>

    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: dodgerblue;
            background: #f5f5f5;
        }

        h1 {
            position: relative;
        }

        h1::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 260px;
            height: 260px;
            margin: -130px 0 0 -130px;
            border: 4px solid;
            border-radius: 50%;
        }

        h1::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 26px;
            height: 26px;
            margin: -13px 0 0 -13px;
            border-radius: 50%;
            background: dodgerblue;
            transform-origin: -115px 50%;
            transform: translateX(128px);
            animation-name: rotate;
            animation-duration: 2400ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes rotate {
            0% {
                transform: translateX(128px) rotate(0deg);
            }
            100% {
                transform: translateX(128px) rotate(360deg);
            }
        }
    </style>
{% endblock %}
