{% set title = 'Site template' %}
{% set description = 'Site template' %}
{% set keywords = 'Site template' %}
{% set activePage = '/' %}

{% extends '../layouts/index.njk' %}

{% block content %}
    <h1>It works =)</h1>
{% endblock %}
