$font-family: 'Roboto';
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url("#{$file-path}.eot");
        src: url("#{$file-path}.eot?#iefix") format('embedded-opentype'),
        url("#{$file-path}.woff2") format('woff2'),
        url("#{$file-path}.woff") format('woff'),
        url("#{$file-path}.ttf") format('truetype'),
        url("#{$file-path}.svg##{$font-family}") format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
        font-display: swap;
    }
}

@include font-face($font-family, '../fonts/roboto/roboto-regular', 400, normal);
@include font-face($font-family, '../fonts/roboto/roboto-medium', 500, normal);
@include font-face($font-family, '../fonts/roboto/roboto-bold', 700, normal);
