$primary-color: #db393b;
$secondary-color: #433447;
$blue-color: #0038ff;
$green-color: #43a047;
$error-color: #f00;

$white-color: #fff;
$gray-100-color: #f5f5f5;
$gray-200-color: #e5e5e5;
$gray-500-color: #999;
$gray-900-color: #333;
$black-color: #000;

$breakpoints: (
    medium: 768px,
    large: 1000px,
);

$page-max-width: 1200px;
