$colors: (
    primary: #0b3fd1,
    secondary: #ff5555,
    success: #43a047,
    white: #fff,
    light-gray: #f5f5f5,
    medium-gray: #bdbdbd,
    dark-gray: #616161,
    black: #000,
);

@function color($name) {
    @return map-get($colors, $name);
}
